<<<<<<< HEAD
body{
    margin-left:20px;
    font-family:'Times New Roman', Times, serif;
    background-color: pink;
    }
h1{
    text-align-last: left;
}

.header-container{
    background-color:coral;
    height: 15vh;
    display:flex;
    flex-direction: row;
    justify-content: space-around;
    align-items:center;
}

.nav-bar ul{
    list-style-type: none;
    }
    .nav-bar ul li{
        display: inline;
        padding: 1em;
    }
    .nav-bar ul li a{
        text-decoration: none;
        color:black;

    }
    .nav-bar{
        margin-inline: 2%;
    }
    .nav-bar ul li a:hover{
        color: rgb(59, 35, 40);
       border-bottom: 1px solid rgb(59, 35, 40);
       padding-bottom: 40px
    }
   
   .jumbotron{
       padding: 1em;

   }
   * {
    box-sizing: border-box;
  }
  
  .column {
    float:inherit;
    width: 33.33%;
    padding: 5px;
  }
  
  /* Clearfix (clear floats) */
  .row::after {
    content: "";
    clear: both;
    display: table;
  }

  .column p{
      font-style: oblique;
  }
  .my-dropdown {
    float: left;
    overflow: hidden;
  }
  
  .my-dropdown-content {
    display: none;
  position: absolute;
  background-color:lawngreen;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
  }
  .my-dropdown-content a:hover
   {
       background-color: rgb(223, 128, 128);
}
.my-dropdown:hover .my-dropdown-content 
{
    display: block;
}




.dropbtn {
  background-color: #4CAF50;
  color: white;
  padding: 16px;
  font-size: 16px;
  border: none;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown-content a:hover {background-color: #ddd;}

.dropdown:hover .dropdown-content {display: block;}

.dropdown:hover .dropbtn {background-color: #3e8e41;}
=======
div{
  padding-left:500px;
  padding-right:400px;
}
blockquote{
 border:2px solid black;
 text-align:center;
}

.column {

    float: left;
    width: 30.33%;
    padding: 10px;
    height: 300px; /* Should be removed. Only for demonstration */

}



li {
    display: inline;
  }
>>>>>>> 92be5657e8d1382d42d9b718276e034439189ede
