div{
  padding-left:500px;
  padding-right:400px;
}
blockquote{
 border:2px solid black;
 text-align:center;
}

.column {

    float: left;
    width: 30.33%;
    padding: 10px;
    height: 300px; /* Should be removed. Only for demonstration */

}



li {
    display: inline;
  }